.about_me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10rem auto;

    img{
        height: 30rem;
        width: auto;
    }

    p{
        font-size: $text-md;
        color: $principal;
        width: 80rem;
        height: auto;
        padding: 2rem;

    }
}
/* ----------- RESPONSIVE 992px ----------- */
@media screen and (max-width: 992px){
    .about_me{
        margin: auto;
        p{
            text-align: center;
            width: auto;
        }
    }
}
/* ----------- RESPONSIVE 460px ----------- */
@media screen and (max-width: 460px){
    .about_me{
        p{
            font-size: $text-lt;
        }
        img{
            width: 20rem;
            height: auto;
        }
    }
}